@charset "UTF-8"; 

body {
	min-width: 320px;
	padding: 30px;
	background: #ff9800;
	font-family: Helvetica, sans-serif
}

h1 {
	color: #fff;
	font-weight: 700;
	margin-top: 2rem;
	font-size: 24px
}

a {
	color: #fff
}

.greedy-nav {
	position: relative;
	min-width: 250px;
	background: #fff
}

.greedy-nav a {
	display: block;
	padding: 20px 30px;
	background: #fff;
	font-size: 18px;
	color: #ff9800;
	text-decoration: none
}

.greedy-nav .visible-links {
	display: inline-table
}

/* .greedy-nav #loginForm
{
    float: right;
    margin-top: 10px;
}
greedy-nav #userInfo
{
    float: right;
    margin-top: 10px;
} */

.greedy-nav .visible-links li {
	display: table-cell;
	border-left: 1px solid #ff9800
}

.greedy-nav .hidden-links {
	position: absolute;
	right: 0;
	top: 100%
}

.greedy-nav .hidden-links li {
	display: block;
	border-top: 1px solid #f57c00
}

.greedy-nav .hidden {
	visibility: hidden
}

.greedy-nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

.greedy-nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.greedy-nav ul li:hover
{
	background:#f6f6f6
}

.greedy-nav ul li:hover > ul
{
	display:block
}



/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */